<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.person_id %>
</p>

<%= link_to '编辑', edit_blog_path(@blog) %> |
<%= link_to '返回', blogs_path %>
