<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @person.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @person.company %>
</p>

<%= link_to '编辑', edit_person_path(@person) %> |
<%= link_to '返回', people_path %>
